
.root {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    padding: 30px;
    border-style: 1px solid #ebedf0;
    box-shadow: 0 1.5px 3px 0 #00000026;

    
}



.root:hover {
    border-color: #0376c9;
}


.input {
  margin-bottom: 20px;
}

.button {
  width: 50%;
  margin-top: 10px;
}

@media (min-width: 500px) {

    .root {
        width: 500px;
    }

}

@media (min-width: 744px) {

    .root {
        width: 600px;
    }

}